.tab-navigation{
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.tab-navigation li {
    cursor: pointer;
    padding: .75rem 3rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.125rem;
    transition: 250ms ease-in;
}

.tab-navigation li:hover {
    color: #423574;
}

.tab-navigation li.active-link {
    color: #423574;
}

.tabs-line{
    position: absolute;
    width: 3px;
    background-color: #423574;
    top: 0;
    left: 0;
    transition: 250ms ease-in;
}


@media(max-width: 768px) {
    .tab-navigation {
        flex-direction: row;
        flex-basis: 0;
        width: 100vw;
        transform: translateX(-5vw);
        padding: 0 5vw;
    }

    .tab-navigation li {
        padding: 0;
        flex-grow: 1;
        font-weight: 600;
    }
}

@media(max-width: 450px) {
    .tab-navigation li {
        font-size: 1rem;
    }
}